@model Weather
<!DOCTYPE html>

<html lang="en">
<head>
    <title>WeatherApp</title>
    <Link rel="stylesheet" href="StyleSheet.css">
</head>
<body>
<div>
    @Model.CityUniqueCode --- @Model.CityName --- @Model.DateAndTime --- @Model.TemperatureFahrenheit
</div>
</body>
</html>